*{
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

body{
    background-color: #2e354b;
    color: #000000;
}

header{
    margin: 20px 0;
    text-align: center;
}
.calculadora{
    padding: 30px 15px 20px;
   border: 1px solid black;
    background-color: #28296e;
    max-width: 800px;
    width: 400px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "display display display display"
    "botoes botoes botoes botoes"
    "botoes botoes botoes botoes"
    "botoes botoes botoes botoes"
    "botoes botoes botoes botoes";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#display{
    box-sizing: border-box;
    font-size: 60px;
    grid-area: display;
    margin-bottom: 12px;
    text-align: right;
    width: 100%;
    border: 1px inset black;
    background-color: #ffffff;
    padding: 0 5px;
}

#botoes{
    grid-area: botoes;
}
#numeros{
    grid-area: botoes;
}

.botao{
    font-size: 30px;
    margin: 2px 0;
    width: 24%;
    height: 19%;
    background-color: #ffffff2d;

}
